{% extends 'exercise/main.html' %}

{% block content %}
<br>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Exercise</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Steps</th>
        </tr>
        {% for e in exercises %}
          <tr>
            <td>{{e.exercise_code}}</td>
            <td>{{e.exercise_name}}</td>
            <td>{{e.exercise_steps}}</td>
          </tr>
        {% endfor %} 
      </table>
    </div>
  </div>
  
</div>
{% endblock %}
