<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h3 class="card-title">Last Six Weeks (42 Days)</h3>
			  	</div>
			  	
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Ride</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{rides}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Stride</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{walks}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Lift</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{lifts}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Rest</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{rests}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>