<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Date</td>
            <td>Weight</td>
            <td>Minutes</td>
            <td>Activity</td>
        </tr>
        {% for x in diary %}
            <tr>
                <td>{{ x.diary_date }}</td>
                <td>{{ x.diary_weight }}</td>
                <td>{{ x.diary_duration }}</td>
                <td>{{ x.diary_activity }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="diary/create/">Create Diary Entry</a>
    </p>
</body>
</html>
