<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diary</title>
</head>
<body>
 <form action="diary_update_record/{{ diary.id }}" method="post">
{% csrf_token %}
Diary Date:<br>
<input name="Diary_date" value=”{{ diary.diary_date}}”>
<br><br>
Diary Weight:<br>
<input name="Diary_weight" value=”{{ diary.diary_weight}}”>
<br><br>
Diary Duration:<br>
<input name="Diary_duration" value=”{{ diary.diary_duration}}”>
<br><br>
Diary Activity:<br>
<input name="Diary_activity" value=”{{ diary.diary_activity}}”>
<br><br>
<input type="submit" value="Submit">
</form>
</body>
</html>
